@model SMM_ThomasMore.Models.ChangeAccountModels.ChangePasswordVM
@{

}

@using (Html.BeginForm("ChangeUserPassword", "UIUser"))
{
    <form>
        <table>
            <tr>
                <td>Oud wachtwoord:  </td>
                <td>@Html.EditorFor(model => model.wachtwoord, new { htmlAttributes = new { placeholder = "wachtwoord", @class = "form-control" } })</td>
                <td>@Html.ValidationMessageFor(model => model.wachtwoord, "", new { @class = "text-danger" })</td>
            </tr>
            <tr>
                <td>Nieuw wachtwoord:  </td>
                <td>@Html.EditorFor(model => model.nieuwWachtwoord, new { htmlAttributes = new { placeholder = "nieuw wachtwoord", @class = "form-control" } })</td>
                <td>@Html.ValidationMessageFor(model => model.nieuwWachtwoord, "", new { @class = "text-danger" })</td>
            </tr>
            <tr>
                <td>Herhaal nieuw wachtwoord:  </td>
                <td>@Html.EditorFor(model => model.compareWachtwoord, new { htmlAttributes = new { placeholder = "nieuw wachtwoord", @class = "form-control" } })</td>
                <td>@Html.ValidationMessageFor(model => model.compareWachtwoord, "", new { @class = "text-danger" })</td>
            </tr>

        </table>
        <input type="submit" value="Save wachtwoord" class="btn btn-info">
    </form>
}