<style>
    #main-wrap > div {
        min-height: 250px;
    }
    td, th {
        border: 1px solid #ddd;
        padding: 8px;
    }
    #header,
    #footer {
        min-height: 40px;
    }

    .info {
        min-height: 80px;
    }
    #main-wrap {
        overflow: hidden;
        margin-left:5%;
    }
    #sidebar {
        float: left;
        width: 30%;
    }
    #content-wrap {
        
        width: 100%;
    }

    #info-wrap {
       
    }
    .info {
        width: 50%;
        float:left;
    }
    #woorden{
        float:right;
        margin-right:10%;
    }
   
    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #b3b3b3;
        color: black;
    }
</style>

@model SMM_ThomasMore.Domain.Element
@{
    ViewBag.Title = "PersoonPage";
    
}



<form action="http://localhost:11981/UIElement/volgElement" method="GET">
    <input type="submit" value="Volg element" />
</form>

<form action="http://localhost:11981/UIElement/leesMessages" method="GET">
    <input type="submit" value="Lees Messages" />
</form>



<div id="main-wrap">
    <table width="100%">
        <tr>
            <td>
                <h2>@Html.DisplayFor(m => m.naam)</h2>
            </td>
        </tr>
        <tr>
            <td>
                <img src=@Url.Action("TwitterPic","UIElement") class="img-thumbnail" height="10%" width="10%" />
            </td>
        </tr>
        <tr>
            <td>
                <a href='@Url.Action("Twitter","UIElement")' class="btn btn-info">Twitter</a>
                <a href='@Url.Action("Facebook","UIElement")' class="btn btn-primary">Facebook</a>
                <a href='@Url.Action("NewGrafiek","UIDashboard", new { eid = this.Model.element_id })' class="btn btn-dark">Create Grafiek</a>
            </td>
        </tr>
    </table>
    @Html.DisplayFor(m => m.aantalVermeldingen)
    <div id="content-wrap">
        <div id="info-wrap">
            <div class="info">
                <div class="list-group">
                    <h3>Meest voorkomende verhalen</h3>
                    @for (int index = 0; index < Model.verhalen.Count(); index++)
                    {
                    <a href=@Model.verhalen[index] class="list-group-item list-group-item-action">@Html.DisplayFor(m => m.verhalen[index])</a>
                    }
                </div>
            </div>
            <div class="info">
                <table id="woorden">
                    <tr>
                        <th>Meest voorkomende woorden</th>
                    </tr>
                    @for (var i = 0; i < Model.woorden.Length; i++)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => (m.woorden[i]))
                        </td>
                    </tr>
                    }

                </table>
            </div>
        </div>
    </div>
    <div id="piechart" style="width: 200px; height: 100px;"></div>
    </div>
 
    

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    google.charts.load("current", { packages: ["corechart"] });
    console.log("load");
</script>


@for (int i = 0; i < 3; i++)
        {
            switch (@Model.grafieken.ElementAt(i).grafiekType.ToString())
            {
            case "TAART":
            <script type="text/javascript">
                        console.log("ja");
                        google.charts.setOnLoadCallback(drawChart);
                        console.log("nee");
                                            function drawChart() {


                                                var tempdata   = [];
                                                var Header = ['@Model.grafieken.ElementAt(i).x_as_beschrijving', '@Model.grafieken.ElementAt(i).y_as_beschrijving']
                                                tempdata.push(Header);


                                                var xAsString = "@Model.grafieken.ElementAt(i).x_as";
                                                var xAsArray = new Array();
                                                xAsArray = xAsString.split(', ');
                                                var yAsArray = new Array();
                                                    var yAsString = "@Model.grafieken.ElementAt(i).y_as";
                                                    yAsArray = yAsString.split(', ');
                                                    for (var j = 0; j < xAsArray.length; j++) {
                                                        var temp = [];
                                                        console.log(xAsArray[j]);
                                                        console.log(yAsArray[j]);
                                                        temp.push(xAsArray[j]);
                                                        var yel = parseInt(yAsArray[j]);
                                                        temp.push(yel);

                                                        tempdata.push(temp);
                                                    }

                                                    var data = google.visualization.arrayToDataTable(tempdata);


                                            var options = {
                                        title: '@Model.grafieken.ElementAt(i).titel',
                                        is3D: true,
                                        backgroundColor: 'none',
                                        colors: ['#d7cec7', '#76323f', '#c09f80']

                                    };

                                        var chart = new google.visualization.PieChart(document.getElementById('chart_@i'));
                                        chart.draw(data, options);
                                }
            </script>


            <div class="grid-stack-item"
                 data-gs-x="0" data-gs-y="0"
                 data-gs-width="4" data-gs-height="4">
                <div class="grid-stack-item-content">
                    <a href='@Url.Action("EditGrafiek","UIDashboard", new { grafiek_id = Model.grafieken.ElementAt(i).id })' class="dropbtn">Edit</a>
                    <a href='@Url.Action("DeleteGrafiek","UIDashboard", new { grafiek_id = Model.grafieken.ElementAt(i).id })' class="dropbtn">Delete</a>
                    <div id="chart_@i" style="width: 100%; height: 90%;">
                    </div>

                </div>
            </div>
            break;
            case "STAAF":
            <script type="text/javascript">
                        console.log("ja");
                        google.charts.setOnLoadCallback(drawChart);
                        console.log("nee");
                                            function drawChart() {


                                                var tempdata   = [];
                                                var Header = ['@Model.grafieken.ElementAt(i).x_as_beschrijving', '@Model.grafieken.ElementAt(i).y_as_beschrijving']
                                                tempdata.push(Header);


                                                var xAsString = "@Model.grafieken.ElementAt(i).x_as";
                                                var xAsArray = new Array();
                                                xAsArray = xAsString.split(', ');
                                                var yAsArray = new Array();
                                                    var yAsString = "@Model.grafieken.ElementAt(i).y_as";
                                                    yAsArray = yAsString.split(', ');
                                                    for (var j = 0; j < xAsArray.length; j++) {
                                                        var temp = [];
                                                        console.log(xAsArray[j]);
                                                        console.log(yAsArray[j]);
                                                        temp.push(xAsArray[j]);
                                                        var yel = parseInt(yAsArray[j]);
                                                        temp.push(yel);

                                                        tempdata.push(temp);
                                                    }

                                                    var data = google.visualization.arrayToDataTable(tempdata);


                                            var options = {
                                        title: '@Model.grafieken.ElementAt(i).titel',
                                        is3D: true,
                                        backgroundColor: 'none',
                                        colors: ['#d7cec7', '#76323f', '#c09f80']

                                    };

                                        var chart = new google.visualization.BarChart(document.getElementById('chart_@i'));
                                        chart.draw(data, options);
                                }
            </script>


            <div class="grid-stack-item"
                 data-gs-x="0" data-gs-y="0"
                 data-gs-width="4" data-gs-height="4">
                <div class="grid-stack-item-content">
                    <a href='@Url.Action("EditGrafiek","UIDashboard", new { grafiek_id = Model.grafieken.ElementAt(i).id })' class="dropbtn">Edit</a>
                    <a href='@Url.Action("DeleteGrafiek","UIDashboard", new { grafiek_id = Model.grafieken.ElementAt(i).id })' class="dropbtn">Delete</a>
                    <div id="chart_@i" style="width: 100%; height: 90%;"></div>
                </div>
            </div>
            break;
            case "LIJN":
            <script type="text/javascript">
                        console.log("ja");
                        google.charts.setOnLoadCallback(drawChart);
                        console.log("nee");
                                            function drawChart() {


                                                var tempdata   = [];
                                                var Header = ['@Model.grafieken.ElementAt(i).x_as_beschrijving', '@Model.grafieken.ElementAt(i).y_as_beschrijving']
                                                tempdata.push(Header);


                                                var xAsString = "@Model.grafieken.ElementAt(i).x_as";
                                                var xAsArray = new Array();
                                                xAsArray = xAsString.split(', ');
                                                var yAsArray = new Array();
                                                    var yAsString = "@Model.grafieken.ElementAt(i).y_as";
                                                    yAsArray = yAsString.split(', ');
                                                    for (var j = 0; j < xAsArray.length; j++) {
                                                        var temp = [];
                                                        console.log(xAsArray[j]);
                                                        console.log(yAsArray[j]);
                                                        temp.push(xAsArray[j]);
                                                        var yel = parseInt(yAsArray[j]);
                                                        temp.push(yel);

                                                        tempdata.push(temp);
                                                    }

                                                    var data = google.visualization.arrayToDataTable(tempdata);


                                            var options = {
                                        title: '@Model.grafieken.ElementAt(i).titel',
                                        is3D: true,
                                        backgroundColor: 'none',
                                        colors: ['#d7cec7', '#76323f', '#c09f80']

                                    };

                                        var chart = new google.visualization.LineChart(document.getElementById('chart_@i'));
                                        chart.draw(data, options);
                                }
            </script>


            <div class="grid-stack-item"
                 data-gs-x="0" data-gs-y="0"
                 data-gs-width="4" data-gs-height="4">
                <div class="grid-stack-item-content">
                    <a href='@Url.Action("EditGrafiek","UIDashboard", new { grafiek_id = Model.grafieken.ElementAt(i).id })' class="dropbtn">Edit</a>
                    <a href='@Url.Action("DeleteGrafiek","UIDashboard", new { grafiek_id = Model.grafieken.ElementAt(i).id })' class="dropbtn">Delete</a>
                    <div id="chart_@i" style="width: 100%; height: 90%;"></div>
                </div>
            </div>
            break;
            }
            }



            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.3.0/gridstack.min.css" />
            <script src="../Content/vendors/jquery/dist/jquery.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
            <script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.3.0/gridstack.min.js'></script>
            <script type="text/javascript">
                                            $(function () {
                                                var options = {
                                                    cellHeight: 75,
                                                    verticalMargin: 10,
                                                    disableResize: true

                                                };
                                                $('.grid-stack').gridstack(options);
                                            });
            </script>


            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.3.0/gridstack.min.css" />
            <script src="../Content/vendors/jquery/dist/jquery.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
            <script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.3.0/gridstack.min.js'></script>
            <script type="text/javascript">
                                            $(function () {
                                                var options = {
                                                    cellHeight: 75,
                                                    verticalMargin: 10,
                                                    disableResize: true

                                                };
                                                $('.grid-stack').gridstack(options);
                                            });
            </script>


