@model SMM_ThomasMore.Domain.Element
@{
    ViewBag.Title = "PersoonPage";
}

<h2>ElementPage</h2>

@Html.DisplayFor(m => m.naam)


<form action="http://localhost:11981/UIElement/volgElement" method="GET">
    <input type="submit" value="Volg element" />
</form>

<form action="http://localhost:11981/UIElement/leesMessages" method="GET">
    <input type="submit" value="Lees Messages" />
</form>

<a href='@Url.Action("Twitter","UIElement")' class="btn btn-info">Twitter</a>
<a href='@Url.Action("Facebook","UIElement")' class="btn btn-primary">Facebook</a>
@Html.DisplayFor(m => m.aantalVermeldingen)
@Html.DisplayFor(m => m.polariteit)


<div class="list-group">
    @for (int index = 0; index < Model.verhalen.Count(); index++)
    {
       <a href="http://www.msn.com/fr-be/actualite/national/après-les-émeutes-à-anderlecht-theo-francken-et-jan-jambon-jouent-à-fond-la-carte-identitaire/ar-AAwiH0x?ocid=ob-tw-frbe-615" class="list-group-item list-group-item-action">@Html.DisplayFor(m => m.verhalen[index])</a>
    }
</div>


<!-- Graphs -->

   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
@Scripts.Render("~/Scripts/element-page-graphs.js")

<div id="piechart" style="width: 200px; height: 100px;"></div>
