
@model SMM_ThomasMore.Models.UserVM

@{
    ViewBag.Title = "Registreren";
}

<h2>Registreren</h2>


@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()
<ul class="list-unstyled">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <li>
        @Html.EditorFor(model => model.username, new { htmlAttributes = new { placeholder = "Gebruikersnaam", @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
    </li>
    <li>
        @Html.EditorFor(model => model.wachtwoord, new { htmlAttributes = new { placeholder = "Wachtwoord", @class = "form-control", Type = "password" } })
        @Html.ValidationMessageFor(model => model.wachtwoord, "", new { @class = "text-danger" })
    </li>
    <li>
        @Html.EditorFor(model => model.compareWachtwoord, new { htmlAttributes = new { placeholder = "Herhaal wachtwoord" , @class = "form-control", Type="password" } })
        @Html.ValidationMessageFor(model => model.compareWachtwoord, "", new { @class = "text-danger" })
      
    </li>
    <li>
        @Html.EditorFor(model => model.email, new { htmlAttributes = new { placeholder = "E-mailadres", @class = "form-control" } }) 
        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
    </li>
    <li>
        <input type="submit" value="Registreer">
    </li>
    <li>
        <button>Registreer met Facebook</button>
    </li>
    <li>
        <button>Registreer met Google+</button>
    </li>
</ul>



}
